.platforms-container {
  margin: 10px;
  display: grid;
  gap: 10px;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
