.h1 {
  background-color: #46277a;
  height: 10%;
  min-height: 70px;
  padding-left: 10%;
  padding-top: 5%;
  color: white;
  font-size: 46px;
  font-weight: 500;
  @media (max-width: 600px) {
    padding-top: 10%;
    font-size: 30px;
  }
}
