@import "variables";

.h1 {
  background-color: $h1-color;
  height: 10%;
  min-height: 70px;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  @media (max-width: 600px) {
    padding-top: 10%;
    font-size: 30px;
  }
}
