<div class="settings">
  <div class="explanation">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>info</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            How to use triggers and badwords to filter messages
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          To avoid misuse of the service, some safety mechanisms are in place.
          For a message to be shared, it needs to contain
          <strong>at least one trigger word</strong>. Additionally, <strong>no badwords
            may occur in the message</strong>. Therefore triggers are words that only
          appear in legitimate messages. Badwords on the other hand, are words
          that completely discard the message, even if the remaining message is
          legitimate. For example insults or spam words like "blockchain".
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="container">
    <app-trigger [hoodId]="hoodId"></app-trigger>
    <app-badwords [hoodId]="hoodId"></app-badwords>
  </div>
</div>
