.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: stretch;
  justify-items: stretch;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.settings {
  margin: 1%;
}

.explanation {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-title {
  margin-top: 2px;
  margin-left: 10px;
}

.image {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.example-container {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
