<div class="settings">
  <div class="explanation">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>info</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            How to use triggers and badwords to filter messages
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi
          enim, semper at metus dapibus, mattis rutrum risus. Nam sit amet
          venenatis ipsum. Nulla accumsan blandit est, vel dignissim nisl
          consectetur in. Phasellus pretium vulputate lorem, ornare lobortis est
          euismod ut. Nullam sit amet malesuada diam. Sed condimentum felis eu
          scelerisque fringilla. Mauris vel sapien et nisl faucibus rutrum. Ut
          dictum erat nec mattis tristique. Suspendisse ultrices tempus
          facilisis. Fusce ac quam tempus sapien commodo vehicula. Suspendisse
          viverra accumsan nunc, lacinia sagittis augue porttitor non. Cras
          auctor, lorem sed convallis bibendum, odio sapien blandit nisl, sed
          pulvinar augue risus a ligula. In dui massa, fringilla eu dolor eu,
          volutpat varius lorem. Vivamus et molestie eros.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="container">
    <app-trigger class="container-item"></app-trigger>
    <app-badwords class="container-item"></app-badwords>
  </div>
</div>
