.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: stretch;
  justify-items: stretch;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.settings {
  margin: 1%;
}

.explanation {
  margin-top: 20px;
  margin-bottom: 20px;
}
