.entry {
  display: grid;
  grid-template-columns: 4fr 40px 20px;
  width: 100%;
  align-items: center;
}

.platform-title {
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 100%;
  align-items: center;
}

.platform-heading {
  align-self: flex-end;
}
