<div class="container">
  <mat-card class="login-form">
    <mat-card-header>
      <h2>Enter your new password</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              [type]="'password'"
            />
            <mat-error
              *ngIf="
                resetForm.controls.password.errors &&
                resetForm.controls.password.errors.required
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                resetForm.controls.password.errors &&
                resetForm.controls.password.errors.minlength
              "
            >
              Password requires minimal length 8
            </mat-error>
          </mat-form-field>
        </div>
        <div class="buttons">
          <div>
            <button mat-raised-button color="primary" [disabled]="loading">
              Save new password
            </button>
            <a mat-button routerLink="/login">Login</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="banner"></div>
</div>
