<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']" routerLinkActive="router-link-active"
    >Kibicara</a
  >
  <a mat-button [routerLink]="['/hoods']" routerLinkActive="router-link-active"
    >All hoods</a
  >
  <a
    mat-button
    [routerLink]="['/organizers']"
    routerLinkActive="router-link-active"
    >Become a hood admin!</a
  >
  <span class="example-spacer"></span>
  <div *ngIf="authenticated; else unauthenticated">
    <a mat-raised-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
    <a mat-button (click)="onLogout()" routerLinkActive="router-link-active">Logout</a>
  </div>
  <ng-template #unauthenticated>
    <a mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
  </ng-template>
</mat-toolbar>
