.example-spacer {
  flex: 1 auto;
}

.hide-button {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.show-button {
  display: none;
  @media screen and (max-width: 600px) {
    display: initial;
  }
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 64px;
  max-height: 64px;
}
