<div class="container">
  <h2>FAQ</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >I just created an account. How do I proceed?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <ol>
        <li>
          Create a hood by clicking on the <strong>New hood</strong> button and
          entering its name.
        </li>
        <li>Click on the created hoods configuration page.</li>
        <li>
          Add platforms according to the <mat-icon>info</mat-icon> buttons in
          the <strong>Platforms</strong> tab.
        </li>
        <li>
          Write a nice text for the public hood page in the
          <strong>Hoodpage</strong> tab.
        </li>
        <li>
          (Optional) Add some filters to prevent abuse and spam in the
          <strong>Filters</strong> tab.
        </li>
        <li>Share your public hood page with your community!</li>
      </ol>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >My messages don't not get broadcasted, why?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <ul>
        <li>Be sure to have platforms configured.</li>
        <li>
          Be sure your message did NOT contain a badword configured in the
          <strong>Filters</strong> tab.
        </li>
        <li>
          Be sure to have at least one trigger in the
          <strong>Filters</strong> tab. If you don't have one, try adding a
          <strong>dot</strong> to the list which means that all messages should
          be broadcasted.
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >Someone is spamming my hood, how do I stop it?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>You have the following options:</p>
      <ul>
        <li>
          Add a few badwords in the
          <strong>Filters</strong>
          tab that the spam contains (e.g. "business", "opportunity").
        </li>
        <li>
          Limit the messages sent by replacing the
          <strong>dot</strong>
          in the Triggers list in the
          <strong>Filters</strong>
          tab with topic-based keywords (e.g. your city region) and
          communicating them to your hood members via public hood page.
        </li>
        <li>
          If the spam comes via e-mail, you can change the inbox address. This
          will automatically update on the public hood page.
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>My hood page is empty, why?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>This can have different reasons:</p>
      <ul>
        <li>
          Be sure that you have saved your hood page text in the
          <strong>Hoodpage</strong> tab.
        </li>
        <li>
          Be sure to have platforms configured in the
          <strong>Platforms</strong> tab
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
