<div class="container">
  <h2>FAQ</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >I just created an account. How do I proceed?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >My messages don't not get broadcasted, why?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >Someone is spamming my hood, how do I stop it?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>My hood page is empty, why?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
