<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="info" class="success">{{ info }}</div>
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }"
    />
    <div
      *ngIf="submitted && loginForm.controls.email.errors"
      class="invalid-feedback"
    >
      <div *ngIf="loginForm.controls.email.errors.required">
        Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{
        'is-invalid': submitted && loginForm.controls.password.errors
      }"
    />
    <div
      *ngIf="submitted && loginForm.controls.password.errors"
      class="invalid-feedback"
    >
      <div *ngIf="loginForm.controls.password.errors.required">
        Password is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      Login
    </button>
    <a routerLink="/register">Register</a>
  </div>
</form>
