<div class="container">
  <div class="heading">
    <h1 class="h1">Kibicara</h1>
    <p class="howto-container-2-text">
      Kibicara hoods are connecting your local community - while you use your
      favorite messenger.
    </p>
    <a mat-raised-button [routerLink]="['/hoods']">Find your hood!</a>
  </div>
  <div class="banner"></div>
</div>

<div class="howto-container-3">
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Cross-platform</h2>
    <p>
      Kibicara is a bridge between multiple messaging platforms with the goal of
      providing real-time broadcast messages for real-life communities. Kibicara
      distributes your message to all subscribers of a hood on different
      platforms.
    </p>
  </div>
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Community-driven</h2>
    <p>
      Kibicara provides a connection to your (local) community, without the need
      to install new software or to create new accounts. Just use the platforms
      you already know and love and subscribe to your Kibicara hood!
    </p>
  </div>
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Inclusive and easy</h2>
    <p>
      Messages sent with Kibicara reach people via Telegram, Twitter and even
      E-Mail - perfect for announcing the next neighborhood meetings, creating
      news tickers or even providing disaster warnings.
    </p>
  </div>
</div>

<div class="banner2"></div>

<div class="container">
  <p class="howto-container-2-text">
    Kibicara is a bridge between multiple messaging platforms with the goal of
    providing broadcast communication for communities. Hoods are 
    community-administrated instances of Kibicara, with customizable platform
    accounts and message filters. You subscribe to a Kibicara hood through
    your service of choice. This can either be E-Mail, Telegram or
    Twitter.
  </p>
  <a mat-raised-button [routerLink]="['/hoods']">Discover hoods!</a>
</div>

<div class="howto-container-2">
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Gather a new hood!</h2>
    If you want to create your own hood for your community, you can read our
    <a [routerLink]="['/organizers']">page</a> for hood admins.
  </div>
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Contribute!</h2>
    Kibicara is free/libre open source software! If you want to contribute to
    the development of Kibicara, check out our
    <a href="https://github.com/acipm/kibicara">GitHub</a>.
  </div>
</div>

<div class="banner2"></div>

<app-faq></app-faq>
