<div class="container">
  <mat-card class="login-form">
    <mat-card-header>
      <h2>Reset password</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input type="text" formControlName="email" matInput />
            <mat-error
              *ngIf="
                resetForm.controls.email.errors &&
                resetForm.controls.email.errors.required
              "
            >
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="buttons">
          <div>
            <button mat-raised-button color="primary" [disabled]="loading">
              Reset password
            </button>
            <a mat-button routerLink="/login">Login</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="banner"></div>
</div>
