/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.info-button {
  color: #9e9e9e;
}

a {
  text-decoration: none;
}
