.mat-card {
  box-shadow: none;
}

.dashboard {
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  @media (max-width: 600px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.back {
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  @media (max-width: 600px) {
    margin-left: 0;
  }
}
