<div class="container">
  <mat-card>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <mat-label>Update hood name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onUpdate()">
        Update hood name
      </button>
    </form>
  </mat-card>

  <mat-card>
    <div class="delete">
      <mat-card-title>Danger zone</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <button mat-raised-button color="warn" (click)="onDelete()">
          Delete hood
        </button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
