<div class="container">
  <h2>FAQ</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a Kibicara hood?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a public hood page?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a hood admin?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I use Kibicara?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >I want to be included in a Kibicara hood. How?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>I want to be a hood admin. How?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Are my messages anonymous?</mat-panel-title>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >What information do you save about me?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
