<app-heading-one [title]="title"></app-heading-one>
<div class="page">
  <div class="description">
    <p class="text">
      Enter a search term below to find your local community - or create
      <a [routerLink]="['/organizers']">a new hood! </a>
    </p>
    <div class="banner"></div>
  </div>
  <mat-form-field class="searchbar">
    <mat-label> <mat-icon>search</mat-icon> Search for hoods</mat-label>
    <input matInput type="search" [(ngModel)]="searchText" autocomplete="off" />
  </mat-form-field>
  <mat-selection-list
    [multiple]="false"
    *ngIf="hoods$ | async; let hoods; else: noHoods"
    class="list"
  >
    <a
      [routerLink]="['/organizers']"
      *ngIf="(hoods | filter: searchText).length === 0"
    >
      <mat-list-option>
        <p>No matching hood found. Start by creating <u>a new hood!</u></p>
      </mat-list-option>
    </a>
    <a
      *ngFor="let hood of hoods | filter: searchText"
      [routerLink]="['/hoods', hood.id]"
    >
      <mat-list-option>
        {{ hood.name }}
        <mat-divider></mat-divider>
      </mat-list-option>
    </a>
  </mat-selection-list>
  <ng-template #noHoods>
    No hoods available yet. Create
    <a [routerLink]="['/dashboard']">a new hood! </a>
  </ng-template>
</div>
