<app-heading-one [title]="title"></app-heading-one>

<div class="howto-container-3">
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Build your community</h2>
    Hood admins build a real life community by creating a network of people - be
    it neighborhood communities, interest-based groups or any other squads!
  </div>
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Customize your hood</h2>
    Kibicara provides the technology for hood admins to connect people over
    different messaging platforms. Hood admins customize their Kibicara hood to
    fit their community's needs.
  </div>
  <div class="big-paragraph-font">
    <h2 class="big-h2-font">Share the information</h2>
    Hood admins share the platform-specific broadcasting endpoints with their
    community and provide the information and technology to its members. This is
    done by providing a <a [routerLink]="['/hoods']">public hood page</a>.
  </div>
</div>

<div class="container">
  <div class="howto-container-2-text">
    <h2 class="big-h2-font">How does it work?</h2>
    <ol>
      <li>
        Create a Kibicara
        <a class="white-a" [routerLink]="['/register']">hood admin account</a>.
      </li>
      <li>
        <a class="white-a" [routerLink]="['/register']">Log in</a> to your
        account and create a hood.
      </li>
      <li>Add platform connections to your hood.</li>
      <li>Provide a description for your hood page.</li>
      <li>(Optional) Create custom filters for messages.</li>
      <li>Share your public hood page with your community's members!</li>
    </ol>
  </div>
  <a mat-raised-button [routerLink]="['/register']">Register as hood admin!</a>
</div>
