<div class="container">
  <div class="heading">
    <h1 class="h1">Kibicara</h1>
    <p class="text">
      Kibicara hoods are connecting your local community - while you use your
      favorite messenger.
    </p>
    <a mat-raised-button [routerLink]="['/hoods']">Find your hood!</a>
  </div>
  <div class="banner"></div>
</div>

<div class="howto-container">
  <div class="howto">
    <h3>Cross-platform</h3>
    <p>
      Kibicara provides a connection to your community, without the need to
      install new software. This minimizes the barrier of entry for new users.
    </p>
  </div>
  <div class="howto">
    <h3>Anonymous</h3>
    <p>
      Messages sent with Kibicara are anonymous - perfect for news tickers,
      activism or disaster warnings
    </p>
  </div>
  <div class="howto">
    <h3>Community-driven</h3>
    <p>
      Hoods aren't centrally administrated - Admins can customize the behavior
      of their hoods to their hearts content.
    </p>
  </div>
</div>

<div class="banner2"></div>

<div class="container">
  <p class="text">
    Kibicara is a bridge between multiple messaging platforms with the goal of
    providing anoymous communication for (local) communities. Hoods are
    community-administrated instances of kibicara, being able to blacklist or
    whitelist certain phrases. You subscribe to a hood through your service of
    choice. This can either be a E-Mail, Telegram or Twitter.
  </p>
  <a mat-raised-button [routerLink]="['/hoods']">Discover hoods!</a>
</div>

<div class="howto-container">
  <div class="howto">
    If you want to run your own hood for your community, you can read our
    FAQ(link tba) for hood-admins.
  </div>
  <div class="howto">
    If you want to help with the development of Kibicara check out our Github(link).
  </div>
  <div class="howto">
    (not sure what goes here, maybe social media)
  </div>
</div>
