<div class="settings">
  <div class="explanation">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="info-button">info</mat-icon>
            <div class="info-title">How to configure the public hood page</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          The public hood page is an customizable site you can use to tell hood
          users about the hood, how to use it and give other context. You can
          send the link to the public hood page to advertise for your hood. The
          public hood page will automatically include your configured platforms
          and direct the users on how to subscribe on their beloved platform.
        </p>
        <p>
          <strong>Link to your hood page:</strong>
          <a
            mat-icon-button
            [routerLink]="['/hoods', hoodId]"
            target="_blank"
            aria-label="Open in new tab"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
        </p>
        <p>
          <strong>Configuring your hood page: </strong> Below there are two
          boxes. You can use the
          <strong>
            left box to type in the text you want to appear on your
            hoodpage</strong
          >. You can preview your text in the right box.
        </p>
        <p>
          <strong>Use Markdown to format your text: </strong> You can use the
          markdown syntax to insert headings, bold text, italic text and so on.
          A
          <a
            href="https://guides.github.com/features/mastering-markdown/#syntax"
            target="_blank"
            >tutorial for the basic syntax can be found here</a
          >. Just play around and use the preview to check your style. When you
          are satisfied, click the <strong>Save-Button</strong> to save your
          input and review your public hood page.
        </p>
        <p>
          <strong>Share the hood page: </strong> Just send the link to your hood
          page to your community. We also recommend to link it in your platform
          account description (e.g. Twitter description) to give the users
          context and more information.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="buttonbar">
    <div *ngIf="!saved && submit" class="saved-button">
      <mat-icon>warning</mat-icon>
    </div>
    <div *ngIf="saved" class="saved-button">
      <mat-icon>done</mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="save-button"
      (click)="onSubmit()"
    >
      Save
    </button>
    <a
      mat-icon-button
      [routerLink]="['/hoods', hoodId]"
      target="_blank"
      aria-label="Open in new tab"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
  <div class="container">
    <textarea
      class="textarea"
      matInput
      [(ngModel)]="markdown"
      wrap="soft"
      (change)="onChange()"
    ></textarea>
    <markdown class="markdown" [data]="markdown"></markdown>
  </div>
</div>
