<h2 mat-dialog-title>Create new hood</h2>

<mat-dialog-content class="mat-typography">
  <form class="input" [formGroup]="hoodForm">
    <mat-form-field>
      <mat-label>New hood name</mat-label>
      <input matInput formControlName="hoodName" />
      <mat-error *ngIf="hoodForm.controls.hoodName"
        >Hood name is required</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>
    Create hood
  </button>
</mat-dialog-actions>
