@import "variables";

.title {
  text-align: left;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
  @media (max-width: 600px) {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 15%;
  }
}

h1 {
  line-height: 3rem;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

p {
  color: grey;
  font-size: 1.4375rem;
  line-height: 1.875rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-items: stretch;
  height: 100%;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.banner {
  background: url("../../../assets/hoods.jpg");
  background-size: 90%;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.add-hood-button {
  margin-top: 30px;
}

.list-entry {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

.list-entry-container {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.hoods-container {
  display: grid;
  grid-template-columns: 1fr 65px;
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.open-icon {
  color: black;
}
