<div class="container">
  <h2>FAQ</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a hood?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Hoods are community-administrated instances of Kibicara. A hood can be
        imagined as a box that takes messages from different messaging
        platforms and distributes it to other messaging platforms.
      </p>
      <p>
        You as a hood user can join a hood by searching for its public hood
        page. There you will find information on how to subscribe to the hood
        on your favourite platform. Additionally the public hood page provides
        information on how to send messages to the hood.
      </p>
      <p>
        Kibicara hoods are aimed at representing a community that exists in
        real life. For example a neighborhood community that wants to use
        technology to communicate but has people who can only use specific
        communication network and don't want to be excluded (e.g. people who
        only have email).
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a public hood page?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        A public hood page provides you with the information about your hood.
        This includes how to join, receive messages and send messages. Usually
        you receive a link to the hood page of your community, but you can also
        use the <a [routerLink]="['/hoods']">search</a> to find your hood page.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What is a hood admin?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        A hood admin is a person from your community who configures your
        Kibicara hood for you to use. They send you the link to your hood page
        and usually give you a proper introduction. Maintain the connected
        social network accounts and take care of their hood page.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >How can I send a message to a hood?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <ol>
        <li>Find your public hood page.</li>
        <li>
          Check the linked platforms. Choose the one you are most familiar with.
        </li>
        <li>
          Use your platform's method to subscribe to an account. The account you
          have to connect with is also linked there.
        </li>
      </ol>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >I want to be included in a hood. How?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        If your community already has a hood, you can
        <a [routerLink]="['/hoods']">search</a> for its name. If your community
        does not have a hood and you want to create a hood, check out the page
        for <a [routerLink]="['/organizers']">hood admins</a>.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>I want to be a hood admin. How?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Check out the page for
        <a [routerLink]="['/organizers']">hood admins</a>.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Are my messages anonymous?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        No, your messages are generally not sent anonymously. Depending on the
        platform you use, you can get away with being pseudonymous. We don't
        send your user name, but the terms of the platform you use to send the
        message still apply.
      </p>
      <p>
        Also: Everyone on the internet can read the content of your messages. We
        discourage sending sensitive information since everyone on the internet
        can read it. The use case of hoods is broadcasting public messages!
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >What information do you save about me?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        The Kibicara server does save different information, depending on your
        role. If you are a normal user:
      </p>
      <ul>
        <li>
          Twitter: We save the id of the last received message (mentions and
          direct messages). This can be a message of yours if you sent the
          latest message.
        </li>
        <li>Telegram: We save your telegram username.</li>
        <li>E-Mail: We save your e-mail address.</li>
      </ul>
      <p>
        We don't save any sent messages. Still, every message of yours will be
        broadcasted to different platforms, so these platforms of course save
        the content of your message. We discourage sending sensitive data since
        everyone on the Internet can read it. The use case of hoods is
        broadcasting public messages.
      </p>
      <p>For hood admins:</p>
      <ul>
        <li>We save your e-mail address and your password.</li>
        <li>
          Twitter: We save oauth tokens provided by twitter that give us access
          to the twitter account and the username of the twitter account. We
          disadvice the use of your private twitter account for acting as
          Kibicara platform bot. Please create a new twitter account.
        </li>
        <li>
          Telegram: We save the telegram API token to the provided telegram bot
          and a welcome message. Also we retrieve the name of the telegram bot.
        </li>
        <li>E-Mail: We save the inbox address name that you provide.</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
